services:
  bot:
    build: .
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
    volumes:
      - ./config.example.toml:/app/config.toml
      - ./help.example.toml:/app/help.toml
      - ./templates.example.toml:/app/templates.toml